{% extends "base.html" %}
{% block content %}

    <form action="" method="POST" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <p>
        Group Name:
        {{ form.groupname(size = 50) }}
        {% for error in form.groupname.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>

    <p>
        Table Name:
        {{ form.grouptablename(size = 30) }}
        {% for error in form.grouptablename.errors %}
          <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>

    <p>
        <input type="submit" value="Create Department"> | <input type="reset" value="Clear"> | <a href="{{ url_for('admin') }}">
        <input type="button" value="Cancel" /></a>
    </p>

    </form>

{% endblock %}
